%h2.col-md-10.offset-md-2 Login



= bootstrap_form_for(:session, url: login_path, layout: :horizontal ) do |f|
  = f.email_field :email
  = f.password_field :password
  .actions.col-md-10.offset-md-2
    = f.submit "Log in", class: "btn btn-primary"
    .float-right
      = link_to 'Signup', signup_path
      if you don't have an account

