%h3 
  Ketos
  - if current_user
    = link_to 'New Keto', new_keto_path, class: 'btn btn-success float-right sized-button'

%table.table
  %thead
    %tr
      %th Reading
      %th.time 
      %th.edit

  %tbody
    - @ketos.each do |keto|
      %tr
        /%td= link_to keto.user.name, keto.user
        %td= keto.reading
        %td
          = time_ago_title(keto)
        %td.edit
          - if current_user == keto.user
            = link_to 'Edit', edit_keto_path(keto)
          - else
            = link_to keto.user.name, user_path(keto.user)                  


