%p#notice= notice

%h3 
  = link_to @user.name, edit_user_path(@user)
  .float-right User

%hr
- @meals = @user.meals
= render template: 'meals/index'

%hr
- @glucoses = @user.glucoses
= render template: 'glucoses/index'


%hr
- @pressures = @user.pressures
= render template: 'pressures/index'
