%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %a.navbar-brand{:href => "/"} 
    = image_tag 'macrobat.svg', style: 'max-width: 40px'
    Macrobat
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - 'meals glucoses ketos pressures users'.split.each do |mi|
        %li.nav-item{class: current_page?("/#{mi}") && 'active'}
          %a.nav-link{:href => "/#{mi}"}= mi.capitalize
      /%li.nav-item |
    %ul.navbar-nav.ml-auto
      - if current_user
        %li.nav-item
          = link_to logout_path, class: 'nav-link', title: 'Log in', method: :delete  do
            = octicon "sign-out", width: '20px'
          /= link_to "Log out", logout_path, class: 'nav-link'
      - else
        - unless current_page?(login_path)
          %li.nav-item            
            = link_to login_path, class: 'nav-link', title: 'Log in' do
              = octicon "sign-in", width: '20px'
              


