= bootstrap_form_with model: @pressure, local: true, layout: :horizontal do |f|
  - if @pressure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pressure.errors.count, "error")} prohibited this pressure from being saved:"
      %ul
        - @pressure.errors.full_messages.each do |message|
          %li= message

  = f.select :user_id, User.all.map{|u| [u.name, u.id]}
  = f.number_field :sys, label: 'Systolic', required: true
  = f.number_field :dias, label: 'Diastolic', required: true
  = f.number_field :pulse, required: true
 
  .actions.col-md-10.offset-md-2
    = f.submit 'Save', class: 'btn btn-success'
