%h3 
  Blood Presssures
  - if current_user
    = link_to 'New Pressure', new_pressure_path, class: 'btn btn-success float-right sized-button'

%table.table
  %thead
    %tr
      %th User
      %th Sys
      %th Dias
      %th Pulse
      %th


  %tbody
    - @pressures.each do |pressure|
      %tr
        %td= link_to pressure.user.name, pressure
        %td= pressure.sys
        %td= pressure.dias
        %td= pressure.pulse
        %td(style="text-align:right")
          - if current_user == pressure.user
            = link_to 'Edit', edit_pressure_path(pressure)
        

%br

