= bootstrap_form_with model: @meal, local: true, layout: :horizontal do |f|
  - if @meal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meal.errors.count, "error")} prohibited this meal from being saved:"
      %ul
        - @meal.errors.full_messages.each do |message|
          %li= message

  = f.select :user_id, User.all.map{|u| [u.name, u.id]}
  = f.file_field :pic, label: "Meal Picture"
  = f.number_field :weight, help: 'In grams', required: true
  %h5 Macros
  = f.number_field :carbs, in: 1..100
  = f.number_field :fats, in: 1..100
  = f.number_field :prots,  in: 1..100, label: 'Proteins'
  = f.number_field :fiber, in: 1..100
  = f.number_field :calories
  .actions.col-md-10.offset-md-2
    = f.submit 'Save', class: 'btn btn-success'
