%h3 
  Meals
  - if current_user
    = link_to 'New Meal', new_meal_path, class: 'btn btn-success float-right sized-button'

%table.table.table-hover
  %thead
    %tr
      %th Image
      %th Calories
      %th Carbs
      %th Fats
      %th Prots
      %th Fiber
      %th.time 
      %th.edit

  %tbody
    - @meals.each do |meal|
      %tr
        %td
          - if meal.pic.attached?
            = image_tag meal.pic, style: "width:100px;margin:-10px;"
        %td= meal.calories

        %td= meal.carbs
        %td= meal.fats
        %td= meal.prots

        %td= meal.fiber

        %td= time_ago_title(meal)
        %td.edit
          - if current_user == meal.user
            = link_to 'Edit', edit_meal_path(meal)
