= bootstrap_form_with model: [current_user,@glucose], local: true, layout: :horizontal do |f|
  - if @glucose.errors.any?
    #error_explanation
      %h2= "#{pluralize(@glucose.errors.count, "error")} prohibited this glucose from being saved:"
      %ul
        - @glucose.errors.full_messages.each do |message|
          %li= message

  /= f.select :user_id, User.all.map{|u| [u.name, u.id]}
  = f.number_field :reading, required: true
  .actions.col-md-10.offset-md-2
    = f.submit 'Save', class: 'btn btn-success'
    = link_to 'Destroy', @glucose, method: :delete, data: { confirm: 'Are you sure?' }
