
%h3 
  Glucose
  - if current_user
    = link_to 'New Glucose', new_glucose_path, class: 'btn btn-success float-right sized-button'

%table.table
  %thead
    %tr
      %th Reading
      %th.time 
      %th.edit

  %tbody
    - @glucoses.each do |glucose|
      %tr
        /%td= link_to glucose.user.name, glucose.user
        %td= glucose.reading
        %td= time_ago_title(glucose)
        %td.edit
          - if current_user == glucose.user
            = link_to 'Edit', edit_glucose_path(glucose)
          - else
            = link_to glucose.user.name, user_path(glucose.user)            
            



